<div class="container nav-fix">
  <div class="py-4 form-container">
    <h1>Register a new service for <%= @church.name %>  </h1>

    <%= render "form" %>

  </div>
</div>
<%= render "shared/footer" %>
