<div class= "nav-fix">

<ul>
  <% @my_churches.each do |church| %>
   <li>  <%= church.name %></li>
   <%= link_to "Add Worship Service", new_church_service_path(church)  %>
  <% end %>
</ul>

</div>
