<div class= "dashboard nav-fix">


    <div class="content-wrapper">
        <% if user_signed_in? %>
          <div class="sidebar">
            <%= render 'shared/sidebar' %>
          </div>
        <% end %>
      </div>
  <div class = "dashboard-content">
    <h1>RESOURCES</h1>


  </div>

</div>
<%= render "shared/footer" %>
