// Define variables for your color scheme

// For example:
$red: #E8442E;
$darkred: #B82714;
$blue: #167FFB;
$yellow: #F7B53B;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #EEF3FC;
