.about-page {
  margin: 0 0.5em;
}

.about-header {
    text-align: center;


    h1 {
      margin-top: 2em;
    }

    ul{
      display: flex;
      justify-content: center;

    }

    p {
      text-align: justify;
      color: gray;
    }
}

.leaders {
  img {
    width: 80%;
    margin: 2em auto;
    border-radius: 1em;

  }
}




@media only screen and (min-width: 800px) {
.about-page {
  margin: 8em;

  .about-header {
    text-align: center;

    h1 {
      font-size: 3em;
      margin-top: 2em;
    }

    ul{
      display: flex;
      justify-content: center;

    }

    li {
      margin: 0.5em 2em;
      font-size: 1.5em;
    }

    p {
     font-size: 1.2em;
    }
  }

  .faith-statement, .leaders, .constitution {
    height: 60vh;

  }

  #statement-tag, #leaders-tag, #constitution-tag {
    padding-top: 2em;
  }

  .leaders {
    display: grid;
    grid-template-columns: 25% auto;

    img {
    height: 45%;
    margin: auto;
    object-fit: fit;
    border-radius: 1em;
    }
  }

}

}
