// EVENTS INDEX

.events-container {
  width: 90%;
  margin: 24px auto;
}

.event-cards {


  .event-card {

    color: black;
    height: 25vh;
    margin: 1em;
    background: rgb(250,243,243);
    background: radial-gradient(circle, rgba(250,243,243,1) 0%, rgba(250,246,246,1) 35%, rgba(249,249,249,1) 100%);
    border-radius: .5em;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
    display:flex;
    transition-duration: .3s;
     &:hover {
    // background-color: #E1E5E9;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .4);
  }

    img {
      width: 33%;
      height: 100%;
      object-fit: cover;
      border-radius: 1em 0 0 1em;
    }

    h3, p {
      font-family: 'Commissioner', sans-serif;
    }

     p:last-child {
      text-align: right;
    }

    .event-info {
      padding: 1em;
    }
    a {
      text-decoration: none;
    }
  }
}


@media only screen and (min-width: 600px) {

  .event-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .event-card{
      display: inline;
      height: 40vh;

      img {
      width: 100%;
      height: 40%;
      object-fit: cover;
      border-radius: .5em .5em 0 0;
    }
    }

  }

}

@media only screen and (min-width: 1000px) {

  .event-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

  .event-card {
    height: 45vh;

    img {
      border: .2em solid rgba(0,0,0,0.1);
    }


  }

  }

}
