.home-text {

  text-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  justify-content: center;

}

.home-container {

  .home-content {
    text-align: center;
    line-height: 2.5em;
    margin: 5em;

    p {
      font-size: 1.5em;
      text-align: justify;
      color: gray;
    }
  }

  .home-signup {
    background: lightgray;
    padding: 2em 1em;
    h3 {
      color: $red;
      padding: 1em;
      background: $yellow;
      border-radius: 1em;
    }
  }
}

.skills {
    background: rgb(232,101,84);
    background: linear-gradient(300deg, rgba(232,101,84,1) 0%, rgba(232,68,46,1) 35%, rgba(153,41,25,1) 100%);
    padding: 2em 0;
    color: white;
    text-align: center;

  p {
    font-size: 1.4em;
  }

}


.skills-container {
  margin: 2em 5em;

  p {
    color: black;
    font-size: 1.1em;
  }
}

.skills-container ul li {

    background: white;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;


    .icon-container {
        height: 100px;
        display: grid;
        place-content: center;
        margin: 0 auto;

        img {
          margin-bottom: 24px;
          box-shadow: 0 0 1.4px 0.01px;
          border: 1px solid rgba(0,0,0,0.2);
          border-radius: .25em;

        }

        &.one {
            width: 200px;
        }
        &.two {
            width: 200px;
        }
        &.three {
            width: 200px;
        }
    }

    .skill-title {
        font-weight: bold;
        margin: 12px 0;
        font-family: 'Poppins', arial;
        color: #263547;
        text-decoration: none;
    }
    .featured-desc {
        margin-bottom: 2em;
    }
}

@media only screen and (min-width: 800px) {
  .home-container {
    text-align: justify;
  }

  // .skills {
  //       margin-top: -5em;
  //       margin-bottom: -7em;
  //       padding-top: 7em;
  //   }

    .skills-container ul {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;
    }

}

@media only screen and (min-width: 1050px) {

.icon-container {
        position: relative;

        img {
          position: absolute;
          width: 150%;
          margin-bottom: 24px;
          top: -50px;
          right: -50px;

        }
      }

}

