.home-text {

  text-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}// Specific CSS for your home-page

.home-container {
  display: flex;
  text-align: justify;
  height: 100vh;

  .home-content {
    text-align: center;
    line-height: 2.5em;
    margin: 5em;

    p {
      font-size: 1.5em;
      text-align: justify;
      color: gray;
    }
  }

  .home-signup {
    background: lightgray;
    padding: 2em 1em;
    h3 {
      color: $red;
      padding: 1em;
      background: $yellow;
      border-radius: 1em;
    }
  }
}
