<div class="search-change rounded">
  <h2 class="ml-3">Churches Found:</h2>
  <%= render "shared/search" %>
</div>
<div>
  <div class="search-results mt-5">
    <div class="cards">
      <% @churches.each do |church| %>
          <%= render 'index-card', church: church %>
      <% end %>
    </div>
    <div class="map-position">
      <%= render "shared/map", styling: "width: 100%; height: 100vh;", class_name: "map-index" %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
