<div class="search search-container" id="search-form search">
  <%= form_tag churches_path, method: :get do %>
    <%= text_field_tag :location,
      params[:location],
      class: "round",
      placeholder: "Find by Church location"
    %>
    <%= submit_tag "", class: "corner" %>
  <% end %>
</div>
