<div class="search search-container" id="search-form search">
  <%= form_tag events_path, method: :get do %>
    <%= text_field_tag :location,
      params[:location],
      class: "round",
      placeholder: "Find Events Near You..."
    %>
    <%= submit_tag "", class: "corner" %>
  <% end %>
</div>

