<div class="nav-fix p-3">
  <div class="ministries jema-ministries">
    <h1>JEMA Ministries</h1>
    <div class="user-cards">
      <%# @users.sort { |a,b| b.overall_total <=> a.overall_total }.each do |user| %>
      <% @jemas.each do |ministry| %>
          <%= render 'ministry_card', ministry: ministry %>
        <% end %>
    </div>
  </div>
  <div class="ministries">
    <h1>Endorssed Ministries</h1>
    <div class="user-cards">
      <%# @users.sort { |a,b| b.overall_total <=> a.overall_total }.each do |user| %>
      <% @ministries.each do |ministry| %>
          <%= render 'ministry_card', ministry: ministry %>
        <% end %>
    </div>
  </div>

</div>
