<div class="nav-fix">
  <div class="ministries jema-ministries">
    <h1>JEMA Ministries</h1>
    <% @jemas.each do |ministry| %>
      <h2><%= ministry.name %></h2>
      <p> <%= ministry.description %> </p>
    <% end %>
  </div>
  <div class="ministries">
    <h1>Endorssed Ministries</h1>
    <% @ministries.each do |ministry| %>
      <h2><%= ministry.name %></h2>
<p> <%= ministry.description %> </p>
    <% end %>
  </div>

</div>
