<div class="about-page nav-fix">

  <div class="about-header">
    <h1>About JEMA</h1>
    <ul>
      <li>  <a href="#statement-tag">Statement of Faith</a>  </li>
      <li>  <a href="#leaders-tag">Leadership Team</a>  </li>
      <li>  <a href="#constitution-tag">Constitution</a>  </li>
    </ul>

    <p class="mission">JEMA’s mission is to serve Protestant missionaries seeking to bring the good news of Jesus Christ to people in Japan. It does that by networking and equipping its members to make disciples for Christ.</p>
  </div>
  <div class="faith-statement" >
    <h2 id="statement-tag">JEMA has the following statement of faith:</h2>
      <ul>

      <li><p>A. <strong>We believe in the Holy Scriptures</strong> as originally given by God, verbally inspired, infallible, entirely trustworthy; and the supreme authority in all matters of faith and conduct. <i>II Tim. 3:16; II Peter 1:21.</i></p></li>

      <li><p>B. <strong>We believe in one God,</strong> eternally existent in three persons, Father, Son, and Holy Spirit. <i>Deut. 6:4; Isa. 43:10,11; I Tim. 2:5; I Cor. 8:4; Matt. 28:19.</i></p></li>

      <li><p>C. <strong>We believe in our Lord Jesus Christ,</strong> God manifest in the flesh, His virgin birth, His sinless human life, His divine miracles, His vicarious and atoning death, His bodily resurrection, His ascension, His mediatorial work, and His personal return in power and glory. <i>Jn. 1:1; Jn. 1:18; Heb. 1:8; Tit. 2:13; I Jn. 5:20; I Cor. 15:3,4.</i></p></li>

      <li><p>D. <strong>We believe in the salvation</strong> of lost and sinful man through the shed blood of the Lord Jesus Christ by faith apart from works, and regeneration by the Holy Spirit. <i>Rom. 3:23; Jn. 3:7; Luke 24: 46,47; Jn. 1:12,13; I Pet. 1:18,19,23; Rom. 10:9,10.</i></p></li>

      <li><p>E. <strong>We believe in the Holy Spirit,</strong> by whose indwelling the believer is enabled to live a holy life, to witness and work for the Lord Jesus Christ. <i>Tit. 3:5; Gal. 5:22,23; I Thess. 5:23,24.</i></p></li>

      <li><p>F. <strong>We believe in unity</strong> in the Spirit of all true believers, the Church, the Body of Christ. <i>Rom. 12:5; ICor. 10:17; Gal. 3:28; Jn. 17:21; Eph. 4:13.</i></p></li>

      <li><p>G. <strong>We believe in the resurrection</strong> of both the saved and the lost: they that are saved unto the resurrection of life, and they that are lost unto the resurrection of damnation. <i>Jn. 5.</i></p></li>
      </ul>
  </div>

  <div class="leaders" >
    <h2 id="leaders-tag">JEMA Leadership Team</h2>
    <div class="inner left">
      <img src="https://jema.org/wp-content/uploads/2015/09/Leadership-Team-photo-e1588672911957.jpg" alt="leaders" class="right transition2">
      <ul>
        <li><p><strong>President:</strong> Nathan Snow</p></li>
        <li><p><strong>Vice President:</strong> Paul Suzuki</p></li>
        <li><p><strong>Secretary:</strong> Dave Scott</p></li>
        <li><p><strong>Ministries Facilitator:</strong> Chad Huddleston</p></li>
        <li><p><strong>Membership Facilitator:</strong> Paul Ewing</p></li>
        <li><p><strong>Communications Facilitator:</strong> Simon Pleasants</p></li>
        <li><p><strong>Member-at-large:</strong> Hazel Yokota (WIM President)</p></li>
        <li><p><strong>Member-at-large:</strong> Brett Rayl</p></li>
      </ul>
    </div>
     <h2>JEMA Leadership Structure</h2>
    <p>At the annual Plenary Council member missions elect the JEMA Leadership Team (LT), set the direction and budget for JEMA, and take reports from the executive, commissions, JEA representatives, and endorsed ministries. The LT carries out the overall leadership of JEMA, including planning and bringing proposals to the Plenary Council. Part time office administrators work under the guidance of the LT. Commissions set the direction for their own ministries, reporting to both the LT and the Plenary. JEMA representatives to various Japan Evangelical Association commissions are appointed by the LT and report to the Plenary. Endorsed ministries value their connection with JEMA. They may seek renewal of their endorsement status every three years.</p>
  </div>



  <div class="constitution" >
    <h2 id="constitution-tag" >Constitution</h2>
  </div>


</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ==" crossorigin="anonymous"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js"></script>

    <script>

       gsap.from(".transition2", {
            scrollTrigger: {
                trigger: '.transition2',
                start: "top bottom"
            },
            y: 50,
            opacity: 0,
            duration: 1.2,
            stagger: .3
        })
      </script>
