<div class="banner events-banner nav-fix">
 <h1>BECOME A MEMBER</h1>
</div>
<div class="benefits-page mt-2">
<h2>JEMA Member Benefits</h2>
  <div class="benefits">
    <ul>
      <li><p>Subscription to print issues of quarterly Japan Harvest magazine.</p></li>
      <li><p>Access to back issues of <a href="https://www.japanharvest.org" target="blank">Japan Harvest</a> online.</p></li>
      <li><p>Receive print copy of Annual JEMA Directory, which contains a listing of all JEMA members and some non-JEMA members.</p></li>
      <li><p>Access to the online community <a href="https://www.jemacommunity.org" target="blank">JEMA Community</a>.</p></li>
      <li><p>Subscription to <a href="https://faithlifetv.com" target="blank">Faithlife TV</a> and <a href="https://logos.com/mobile-ed" target="blank">Logos Mobile Ed</a> videos.</p></li>
      <li><p>Reduced fees to JEMA events including Church Planters Institute conference and seminars, Annual Women in Ministry retreat, etc.</p></li>
      <li><p>Cheaper rates for sending JEMA emails.</p></li>
    </ul>
  </div>
  <h2>Become an Associate Member</h2>
  <div class="membership-cards">
    <div class = "membership-card">
      <div class="membership-content">
      <h3>From Japan</h3>
      <p>If you are involved in ministry in Japan but are not affiliated with a mission holding membership in JEMA, we invite you to become an associate member. All associate members receive all JEMA member benefits but do not have voting rights.</p>

      <p>The first step is to complete our brief JEMA Associate Membership application form below. Payment can be made by Paypal or Postal Transfer. It can take a few weeks to process each application. Upon approval, you will be contacted by email with the payment information.</p>

      <h5>Rates:</h5>
      <p>1 year individual associate (single): JPY 6,300</p>
      <p>1 year individual associate (couple): JPY 7,500</p>
      </div>
      <div class="membership-button">
        <%= link_to "Join from Japan", "#", class:"btn btn-gradient"  %>
      </div>
    </div>
    <div class = "membership-card">
      <div class="membership-content">
      <h3>From Overseas</h3>
      <p>If you are a retired missionary to Japan, have been or are involved with JEMA-related activities, or simply interested in keeping in touch with what God is doing in Japan, we invite you to become an overseas associate member of JEMA. All overseas associate members receive all JEMA member benefits but do not have voting rights.</p>

      <p>The first step is to complete our brief JEMA Overseas Membership application form below. Payment can be made by Paypal or US$ check. It can take a few weeks to process each application. Upon approval, you will be contacted by email with the payment information</p>

      <h5>Rates:</h5>
      <p>1 year: US$75</p>
      <p>2 years: US$135</p>
      <p>3 years: US$180</p>
      </div>
      <div class="membership-button">
        <%= link_to "Join from Overseas", "#", class:"btn btn-gradient"  %>
      </div>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
