<div class="banner events-banner nav-fix">
 <h1>JEMA Contact Info</h1>
</div>

<div class= resources-container>
  <div class="d-flex justify-content-around">
    <div>
  <h2>Contact details:</h2>
  <p><strong>Email:</strong>jema-info@jema.org</p>

  <p><strong>Tel:</strong> 03-3295-1949</p>
  <p><strong>Fax:</strong> 03-3295-1354</p>

  <h3>Office Address:</h3>
  <p>JEMA Office,</p>
  <p>OCC Building #204,</p>
  <p>2-1 Kanda Surugadai,</p>
  <p>Chiyoda-ku,</p>
  <p>Tokyo 101-0062,</p>
  <p>Japan</p>
</div>
  <%= render "shared/map", styling: "width: 500px; height: 500px;", class_name: "map-show border" %>
  </div>

</div>
<%= render "shared/footer" %>
