<div class="banner events-banner nav-fix">
 <h1>MEMBER CARE RESOURCES</h1>
</div>

<div class="resources-container">

<h3> <a href="https://www.barnabas.org/" target="blank">Barnabas International</a> </h3>
<p>From the website: “The goal of Barnabas International is to equip, edify, encourage, and enrich God’s servants so that they are refreshed in their souls and renewed in their service.” The website has a variety of free practical articles and resources for pastoral care for global workers put together by experienced workers at Barnabas International.</p>

<h3> <a href="https://www.facebook.com/groups/globalmembercare" target="blank">Global Member Care Network</a> </h3>
<p>A Facebook group whose goal is to connect workers with resources, updates, links and people working in the realm of member care around the world.</p>

<h3> <a href="http://www.heartstreamresources.org/" target="blank">Heartstream Resources</a> </h3>
<p>A ministry developed by former Wycliffe Bible Translators missionaries offering holistic care for global workers. The Heartstream ministry includes training, retreats, intensive care, and missionary counseling and debriefing. In Pennsylvania, USA.</p>

<h3> <a href="http://missionarycare.com/" target="blank">Missionary Care</a> </h3>
<p>The ministry and website of counselor and former teacher at Asbury College in Kentucky, USA, Ron Koteskey. Dr. Koteskey and his wife, Bonnie, offer on-field help to independent missionaries, to missionaries whose agencies have no one designated for missionary care, and to missionaries who would prefer talking with someone outside their agencies. The website offers many resources for free download, including resources for third-culture kids and missionary re-entry.</p>

<h2>Counselors</h2>

<h3> <a href="https://childd-japan.jimdofree.com/" target="blank">Joyce Inouye, MA Ed.</a> </h3>
<p>Learning disabilities specialist with 40+ years of experience.</p>

<h3>Fumie Kamitoh</h3>
<p>Japanese certified clinical psychologist; English and Japanese
Healing-oriented and evidence-based adult individual counseling/couple counseling
fkamitoh@mac.com</p>

<h3>Nobue Kunito, MA, NCC (US national certified counselor)</h3>
<p>Skype counseling available in English and Japanese.
nobue.kunito@gmail.com</p>

<h3>Eileen Nielsen, MA in counseling</h3>
<p>Skype counseling available in English and Japanese
eileenpnielsen@gmail.com</p>

<h3>Rev. Alan and Judy Steier, Barnabas International</h3>
<p>Pastoral care to global workers; Personal care conversations; Workshops, seminars, retreats related to pastoral care
asteier@barnabas.org; jsteier@barnabas.org</p>

<h3>Takako Watanabe, Ed. S, LPC;</h3>
<p>Online counseling; Information and referral
t.watanabelpc@gmail.com</p>

</div>
<%= render "shared/footer" %>
