<div class="banner events-banner nav-fix">
  <h1>RESOURCES FOR GROWTH</h1>
</div>

<div class="resources-container">



<h2>Spiritual Formation</h2>

<div class="d-flex align-items-center" >
  <h3>Book:</h3>
  <h3><a href="https://www.amazon.com/Spirit-Disciplines-Understanding-Changes-Lives/dp/0060694424" target="blank"><i>The Spirit of the Disciplines: Understanding How God Changes Lives; </i></a></h3>
  <h3>Dallas Willard</h3>
</div>
<p>From the inside cover: “We need a deeper insight into our practical relationship to God in redemption,” Willard writes. “We need an understanding that can guide us into constant interaction with the Kingdom of God.” Speaking to what Willard identifies as “a widespread and deep longing among Christians and non-Christians alike for the personal purity and power to live as our hearts tell us we should,” the observation of the disciplines can make the process of deepening and revitalizing our relationship with God a part of daily existence.

</p>

<div class="d-flex align-items-center">
  <h3>Dissertation:</h3>
  <h3><a href="http://digitalcommons.georgefox.edu/dmin/226/" target="blank"> <i>Praying about Forgiveness in Japanese, English and Beyond Words: Bilingualism as an Underexplored Resource for Christian Spiritual Formation; </i></a></h3>
  <h3>Andrea Johnson</h3>
</div>
<p>“Jesus taught his followers to pray about forgiveness for themselves and others, but language, culture, and early caregiver relationships affect how forgiveness is understood and experienced by the pray-er. This doctoral dissertation investigates how experiencing forgiveness through the two cultural frames of Japan and the US may provide largely unrecognized resources for Christian spiritual formation–the process of growing in lived love for God, self, and others.”

</p>


<h2 class="mt-5">Retreat Centers</h2>

<h3> <a href="http://www.bethanyhk.org/" target="blank">Bethany Hong Kong</a> </h3>
<p>Located on an island an easy ferry ride from Central Hong Kong. From the website: “Bethany will offer a welcome whether you are looking for a spiritual retreat, a straightforward, cheerful holiday or just a time away from everyone. We cater for groups, families, married couples and individuals. We can provide gentle pastoral care, people to listen and pray with you, and a range of devotional materials to dip into . . . . On the other hand, if you prefer just to hang out on the beach, that is also fine. Our guests include Christians from all denominations and countries, focusing on those in mission but also welcoming those in secular jobs.”</p>

<h3>  <a href="http://www.missiontomissionaries.org/" target="blank">Eden Ridge, Crossville, Tennessee, USA</a></h3>
<p>A missionary-focused retreat and vacation destination. From the website: “Mission to Missionaries exists to serve missionaries. We want missionaries to enjoy a retreat center focused on them, and we don’t want money to be the reason they don’t come</p>

<h3><a href="http://www.juniper-tree.org/" target="blank">The Juniper Tree, Thailand</a> (Two locations, Chiang Mai and Dolphin Bay, near Hua Hin)</h3>

<p>From the website: “Since 1977, The Juniper Tree has been offering rest and refreshment for Christian workers, who work in situations outside of their own culture. We are an evangelical, non-denominational, charitable foundation, set up to provide places where individuals, couples or families can come to find physical and spiritual refreshment to enable them to return to their sphere of service.”</p>


</div>
<%= render "shared/footer" %>
