<div class="nav-fix resources-container">

<h1>PRACTICAL RESOURCES</h1>

<h2>Partner Development and Ministry</h2>

  <div class="d-flex align-items-center">
    <h3>Book:  </h3>
    <h3><a href="https://www.amazon.com/Successfully-Raising-Missionary-Support-Twenty-first/dp/141410930X"> <i>  More than Money, More than Faith; </i></a></h3>
    <h3>Paul Johnson</h3>
  </div>
  <p>The author, who served with Wycliffe Bible Translators for more than 30 years, provides biblically-based, practical suggestions on how to develop, with the help of friends and churches, a missionary sending team.
  </p>

  <div class="d-flex align-items-center">
    <h3>Book:</h3>
    <h3><a href="https://www.amazon.com/Funding-Your-Ministry-Scott-Morton/dp/0972902376"> <i>Funding Your Ministry; </i></a></h3>
    <h3>Scott Morton</h3>
  </div>
  <p>An in-depth, biblical guide for successfully raising personal support. The information on developing adequate missionary budgets alone is both enlightening and helpful. A review―”This is more than a book on fundraising. It’s a book on biblical thinking about money and ministry, and it’s filled with intensely practical guidelines on how to involve people in your ministry through giving and praying. I’m impressed with this guide. It works and has been tested in the fire of experience with hundreds of our Navigator staff. This is the best resource I have seen―a must for those who raise financial support.” (Jerry E. White, PhD, International president emeritus of The Navigators)
  </p>

  <div class="d-flex align-items-center">
    <h3>Book:</h3>
    <h3><a href="https://www.amazon.com/Serving-As-Senders-Neal-Pirolo/dp/1880185245"> <i>Serving as Senders Today;</i></a></h3>
    <h3>Neal Pirolo</h3>
  </div>
  <p>“This key book makes the strategic point that mobilizers—the senders—are as crucial to the cause of missions as front-line missionaries. It is a book just crammed with solid, exciting insights on the most hurting link in today’s mission movement.”—Dr. Ralph Winter, U.S. Center for World Mission.
  </p>

  <div class="d-flex align-items-center">
    <h3>Blog Article:</h3>
    <h3><a href="https://www.encompassworldpartners.org/stories/sent-and-sustained-the-importance-of-a-sending-church/"> <i>Sent and Sustained: the Importance of a Sending Church</i></a></h3>
  </div>

  <h3> <a href="https://www.donormanager.com/">Donor Manager</a>  </h3>
  <p>A free, easy-to-learn-and-use software program developed and supported by a computer- savvy, on-the-field missionary who knows what we missionaries need for efficient record keeping, partnership development, and ministry to partners. In addition to providing the ability to record contributions manually, the program has the ability to “read” and “process” contributions reports produced by a number of organizations.</p>

  <h2>Financial Matters</h2>


  <h3> <a href="https://www.garrettplanningnetwork.com/about/members">Garrett Financial Network</a>  </h3>
  <p>Fee-only, financial advice by trained financial planners (mostly certified or on their way to becoming certified financial planners) who are fiduciaries, and thus legally- and ethically-bound to look after their clients’ own best interests, not the advisor’s own interests.</p>

  <h3> <a href="http://www.schwab.com/public/schwab/banking_lending/checking_account/index-a.html">Schwab High-yield Checking account</a>  </h3>
  <p>A free US checking account that offers a free debit card, good exchange rates and reimbursement of ATM fees for cash withdrawals worldwide.</p>

  <h2>Christian Guest Housing</h2>

  <h3> <a href="http://www.thehighburycentre.org/">The Highbury Centre, London, UK</a>  </h3>
  <p>From the website: “The Highbury Centre is ideally situated in the heart of London in a delightful conservation area, yet still close to the city centre. Founded in 1893 as The Foreign Missions Club, our guest house has accommodated thousands of pastors, missionaries and ministers from nearby and further afield. Our mission today still is to provide affordable accommodation to those who serve the Lord from across the world.”</p>




</div>

<%= render "shared/footer" %>
