<div class="banner events-banner nav-fix">
  <h1>TRAINING RESOURCES</h1>
</div>

<div class="resources-container">



<h2>Preparation, Debriefing, Re-entry, Culture Shock, etc.</h2>

<div class="d-flex align-items-center">
    <h3>Blog Article:</h3>
    <h3><a href="http://www.alifeoverseas.com/">A Life Overseas: The Missions Conversation</a></h3>
  </div>
  <p>From the site: “As a team of writers who have logged years of overseas experience ourselves, we want to create an online space where expats of many nations come together to interact, encourage, and find a community that ‘gets it’. “At this site, you’ll find honest conversation about the role and realities of international missions, practical advice from others on the foreign field, and faith-based inspiration for the days when you’d just rather go home.”</p>

<h3><a href="http://www.theimtn.org/main/index.php/en/about/about-the-imtn">International Missionary Training Network</a></h3>

  <p>Endorsed by the World Evangelical Alliance, the International Missionary Training Network is an international network of missionary trainers, training centers, and courses, including, on the site, a search function for finding missionary training of various kinds.</p>

<h3><a href="https://www.mti.org/">Mission Training International</a></h3>

  <p>From the website: “Mission Training International has been developing and equipping cross-cultural messengers of the Gospel through training and debriefing since 1954.” Located near Colorado Springs, CO, USA.</p>

<h3><a href="http://www.rockyreentry.com/">Blog: Rocky Re-entry: The Realities of Life after Living Cross-culturally</a></h3>

  <p>From the website: “Thoughts, encouragement, and resources for those transitioning off the field from those who’ve been there.”</p>

  <h2>Ministry in Japan</h2>

  <div class="d-flex align-items-center">
    <h3>Book:  </h3>
    <h3><a href="https://www.amazon.com/Unseen-Face-Japan-David-Lewis/dp/1908860030"> <i>   The Unseen Face of Japan;</i></a></h3>
    <h3> (June 1, 2013) David C. Lewis</h3>
  </div>
  <p>The book “uncovers core values within Japanese culture. . . . This fully revised and updated edition includes data from the latest surveys of Japanese attitudes, church statistics, and the most recent research into Japanese society and religion.”
  </p>

  <h2>Japanese Language Learning</h2>

  <h3><a href="https://omf.org/asia/japan/resources/japanese-language/">OMF Japanese Language Learning Resources</a></h3>

  <p>From the website: “The resources . . . are from a variety of sources–some are materials produced by OMF, others by other missions or Christian organizations and some are by secular publishers. On these pages you will also find tips of various kinds related to learning Japanese.”</p>

  <h3><a href="http://jisho.org/">Online Japanese Dictionary</a></h3>

  <p>From the site: “Jisho is a powerful Japanese-English dictionary. It lets you find words, kanji, example sentences and more quickly and easily.”</p>

  <h3><a href="http://www.stickystudy.com/japanese.html">StickyStudy Japanese Language app</a></h3>

  <p>From a review on the website: “Perfect flashcard app for improving your Japanese with a great design and fantastic content. . . .”</p>

</div>
<%= render "shared/footer" %>
