.banner-church-index {
  height: 60vh;
}

// .banner {
//   background-size: cover;
//   background-position: center;
//   padding: 150px 0;
//   height: 100%;
// }

.banner {
  height: 100px;
  background: $secondary;
  padding: 2em;

   h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }

    p {
    font-size: 20px;
    color: white;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.events-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-container {
  height: calc(100vh - 60px);
  padding: 150px 0;
  background-color: rgb(240, 240, 240);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  //position: relative;

  .home-search {
    // margin-bottom: 100px;
    //position: absolute;
    //top: 300px;
  }


}

.banner-church-index {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)), url("fuji_sakura.jpg");
  height: 40vh;
  background-size: cover;
  background-position: 50% 55%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-text {

  text-shadow: 1px 1px 3px rgba(0,0,0, 20%);
}

.banner-church-index h1 {
  font-size: 64px;
  // margin-bottom: 8px;
}

.banner-church-index p {
  font-size: 24px;
  // margin-bottom: 32px;
}

@media (min-width: 360px) {
  .banner-church-index h1 {
    font-size: 72px;
  }
}


