.btn-ghost {
  color: #black;
  background: radial-gradient(circle, rgba(244,185,78,1) 0%, rgba(251,184,59,1) 35%, rgba(235,160,21,1) 100%);
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
}

.btn-ghost:hover {
  background: radial-gradient(circle, rgba(232,134,47,1) 0%, rgba(233,123,26,1) 35%, rgba(218,115,24,1) 100%);
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient($red, $darkred);
  transition: background 0.3s ease;
  border: 1px solid $gray;
}

.btn-gradient:hover {
  background: linear-gradient($darkred, $darkred);
  color: white;
}

